
<div class="div_ar_section_header"><h5>Camera stream (AR + Segmentation)</h5></div>

<div class="mjpg_container" >
		<img data-bind="attr: {src: cam_url, width: cam_width, height: cam_height}">
		</img>
</div>

<img data-bind="attr: {src: 'http://127.0.0.1:27100/stream/0/640/480' }"></img>


<div class="div_ar_statistics_header">Print Statistics</div>



<p style="color: #386942"><b><i>...Layer image saved</i></b></p>


<p><b id="filename">Filename:</b></p>
<p><b id="layer" >Layer: </b></p>

<p>&nbsp;</p>
<p style="color: #386942"><b><i>...Layer image saved</i></b></p>

{% set layer_num="X" %}

<table>
    <tr>
	    <td><div class="div_ar_section_header">Side view</div></td>
	</tr>
	<tr>
	    <td><canvas id="headCanvas" width="1000" height="333"></canvas></td>
	</tr>
</table>


<table>
    <tr>
	    <td><div class="div_ar_section_header">Real (virtual top)</div></td>
	    <td><div class="div_ar_section_header">Synth (virtual top)</div></td>
	</tr>
    <tr>
	    <td>
        {% set real_layer_image = 'real_image_Layer_'+layer_num+'.png' %}
<img src="/plugin/failureanalysis/static/images/{{ real_layer_image }}" height=50px/>
	    </td>
	    <td><canvas id="canvas_synth_ref" width="1000" height="333"></canvas>
	    </td>
	</tr>
</table>

<p>Button: run similarity analysis</p>
<p>Button: detect errors</p>

<table>
    <tr>
	    <td><div class="div_ar_section_header">Heatmap</div></td>
	    <td><div class="div_ar_section_header">Synth (virtual top)</div></td>
	</tr>
</table>

